<h2>{{'main.products' | translate}}</h2>

<div *ngFor="let product of products; index as productId">

    <h3>
        <a [title]="product.name + ' details'" [routerLink]="['/products', productId]">
            {{ product.name }}
        </a>
    </h3>

    <p *ngIf="product.description">
        {{'product.description' | translate}}: {{ product.description }}
    </p>

    <button (click)="share()">
        {{'main.share' | translate}}
    </button>

    <app-product-alerts
        [product]="product"
        (notify)="onNotify()">
    </app-product-alerts>
    
</div>